
.arrowBtn {
    padding: 0;
    background: transparent;
    border: 1px solid transparent;
    border-color: transparent;
    height: 24px;
    width: 24px;
    color: #05386b;
    user-select: none;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

.blueBtnLink {
    background-color: #05386b;
    border-color: #05386b;
    border-radius: 8px;
    height: auto;
    width: fit-content;
    padding: 10px 15px;
    cursor: pointer;
    border-width: thin;
}

.blueBtn {
    background-color:#05386b;
    border-color: #05386b;
    color: white;
    border-radius: 8px;
    height: 40px;
    width: 70px;
}

.redBtn {
    background-color:red;
    border-color: red;
    color: white;
    border-radius: 8px;
    height: 40px;
    float: right;
}

.typeLabel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    height: fit-content;
}

.labelSpan {
    background-color: palevioletred;
    padding: 5px 10px;
    color: black;
    font-weight: 700;
}

.rating-form-div {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-form {
    float:left;
    width: auto;
}

.rating-form span { float:right; position:relative;}
.rating-form span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}

.rating-form span label {
    display:inline-block;
    width:40px;
    height:40px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
}

.rating-form span:hover ~ span label,
.rating-form span:hover label,
.rating-form input.checked label,
.rating-form input.checked ~ span label {
    background:#F90;
    color:#FFF;
}