{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Register{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="{% static 'SwapNGameOn/login.css' %}" rel="stylesheet" />
  </head>
  <body>
    {% if message %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}

    <img class="logo" src="{% static 'SwapNGameOn/logo.png' %}" />
    <h2 class="title">Register</h2>

    <div class="container">
      <div class="col-md 12">
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          <div class="form-group offset-md-1">
            <input
              autofocus
              class="form-control"
              type="text"
              name="username"
              placeholder="Username"
            />
          </div>
          <div class="form-group offset-md-1">
            <input
              class="form-control"
              type="password"
              name="password"
              placeholder="Password"
              style="height: auto"
            />
          </div>
          <div class="form-group offset-md-1">
            <input
              class="form-control"
              type="password"
              name="confirmation"
              placeholder="Confirm Password"
            />
          </div>

          <div class="form-group offset-md-1">
            <input class="blueBtn" type="submit" value="Register" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
