{% extends "SwapNGameOn/layout.html" %} {% load static %} {% block body %}

<div class="row justify-content-center" style="padding: 15px" id="received">
    {% for swapRequest in swaps %}
    <div class="card mb-3" style="width: 100%" id="swap-{{swapRequest.id}}">
      <div class="row no-gutters">
        <div class="col-4">
          {% if swap.requester == user%}
          <img
            src="{{swapRequest.game.imageLink}}"
            class="card-img"
            height="200"
            style="object-fit: contain"
          />
          {% else %}
          <img
            src="{{swapRequest.request.offeredGame.imageLink}}"
            class="card-img"
            height="200"
            style="object-fit: contain"
          />
          {% endif %}
        </div>
        <div class="col-8">
          <div class="card-body" style="padding: 10px">
            <h5 class="card-title"></h5>
            <p class="card-text"><b>Games Swapped:</b> </p>
            <ul>
                <li>{{swapRequest.game.user.username}} : {{swapRequest.game.title}}</li>
                <li>{{swapRequest.request.requester.username}} : {{swapRequest.request.offeredGame.title}}</li>
            </ul>
            <p class="card-text">
              <u>Requested Duration:</u> {{swapRequest.startDate}} to {{swapRequest.endDate}}
            </p>
            <p class="card-text">
              <small class="text-muted"
                >Requested by
                <a href="{% url 'profile' swapRequest.request.requester.id %}"
                  >{{swapRequest.request.requester.username}}</a
                > (contact number : {{swapRequest.request.contactNumber}})</small
              >
            </p>
            <button type="button" class="blueBtn" style="width:auto;" value="{{swapRequest.id}}" onclick="completeSwap(this)">Completed</button>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p><h4 style="color: gray">No ongoing swaps</h4></p>
    {% endfor %}
  </div>

{% endblock%}

{% block script %}
<script src="{% static 'SwapNGameOn/requests.js' %}"></script>
{% endblock %}